* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100%;
}

.side-bar {
    position: absolute;
    top: 0px;
    width: 280px;
    background: #337AB7;
    z-index: 2;
    padding: 70px 0px;
    height: 340vh;
}

.side-bar-img {
    position: relative;
    width: 100%;
    text-align: center;
}

.side-bar .names {
    color: white;
}

.side-bar .names h3 {
    font-size: 25px;
}

.side-bar .names h6,
h5 {
    margin-top: 5px;
}

.side-bar-img img {
    width: 150px;
    margin: auto;
}

.sidebar-line {
    color: rgb(210, 210, 208);
    opacity: 0.6;
    margin-top: 20px;
}

.main-content {
    position: absolute;
    width: 100%;
    overflow-wrap: break-word;
}

.top-bar {
    position: relative;
    width: 100%;
    display: flex;
    background: #337AB7;
    padding: 30px;
}

.top-col-1 {
    flex-basis: 60%;
    text-align: right;
}

.top-col-2 {
    flex-basis: 40%;
    text-align: right;
}

.icon {
    color: aliceblue;
    font-size: 20px;
    margin: 0 10px;
    display: inline;

}

.top-col-2 i {
    font-size: 14px;
    margin-left: 20px;
}

.icon-btn {
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 30px;
}

.posts {
    position: relative;
    padding-left: 340px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-navigation {
    position: relative;

}

.sidebar-navigation ul {
    position: relative;
    list-style-type: none;



}

.sidebar-navigation ul li {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 30px;
    border-bottom: 1px solid white;

}

.sidebar-navigation ul li i {
    margin-left: 90px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
}

.sub-menu {
    margin-top: 10px;
    display: none;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.sub-menu ul li {
    padding: 10px;
    border: 0px;
    color: white;
    text-align: left;
    text-decoration: none;
    transition: all 0.4s;
}

.sub-menu ul li a {
    text-decoration: none;
    color: aliceblue;
}

.post-container {
    display: flex;
    background-color: #337AB7;
    padding: 20px;
    width: 90%;
    margin: auto;
    color: white;
    border-radius: 20px;
    margin-top: 20px;


}

.post-img {
    flex: 0.20;
    padding: 10px;
    text-align: center;
    align-self: center;

}

.post-img img {
    width: 80px;

}

.post-content {
    flex: 1;
    align-self: center;
    padding: 30px;

}

.post-content p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    margin-left: 10px;
    margin-bottom: 20px;

}

.badges {
    display: flex;
}

.badge {
    flex: 1;
    padding: 5px 20px;
    background: white;
    border-radius: 30px;
    color: #006ff6;
    max-width: 150px;
    ;
    text-align: center;
    margin: 0 10px;

}

.post-content a {
    margin-top: 10px;
}

.btn {
    margin: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding-top: 20px;
}

.submit-post {
    position: relative;
    padding-left: 340px;
    padding-top: 30px;
    width: 100%;

}

.post-form {
    padding: 20px;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
}

.post-group {
    width: 100%;
}

.post-group textarea {
    width: 100%;
    border-radius: 30px;
    color: black;
    padding: 25px;
    height: 200px;
    text-align: left !important;
}

textarea::placeholder {
    color: #999;
    /* Example color */
}

.categories {
    margin-top: 20px;
}

.categories select {
    width: 160px;
    padding: 15px;
    background: white;
    color: black;
}

select option {
    padding: 15px;
    background: white;
    color: black;
    border-radius: 30px;
}

.categories input {
    float: right;
    padding: 15px;
    width: 200px;
    background-color: white;
    border-radius: 30px;
    color: black;
}

.pagination {
    position: relative;
    padding-left: 340px;
    padding-top: 30px;
    width: 100%;

}

.pagination .buttons {
    display: flex;
    padding: 20px;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
    align-items: flex-end;

}

.back-button button {
    width: 200px;
    margin: 10px;
    padding: 15px 40px;
    background-color: #ffffff;
    color: #337AB7;
    border: 1px solid #337AB7;


}

.next-button button {
    width: 200px;
    margin: 10px;
    padding: 15px 40px;
    background-color: #337AB7;
    color: white;
    border: 1px solid white;


}

.notification-container {
    position: relative;
    display: inline-block;
}

/* Styling for the notification icon */
.notification-icon {
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    position: relative;
}

/* Styling for the notification background */
.notification-bg {
    display: none;
    width: 300px;
    height: 530px;
    position: absolute;
    left: -143px;
    top: 40px;
    background-color: white;
    color: #333;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 300;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.notification-bg::before {
    content: '';
    position: absolute;
    background: white;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-radius: 50%;
}




/* Styling for the notification bar content */
.notification-content {
    /* You can customize the content styling here */
    margin-top: 20px;
    position: inherit;
   
}


.notification {
    width: inherit;
    display: flex;
    padding: 20px 0;
    
    overflow-wrap: break-word;
}

.notification-img img {
    width: 40px;
    align-self: middle ;
}

.notification-text {
    margin-left: 20px;
}

.notification-text .date {
    font-size: 12px;
    color: #333;
    text-align: left;
    padding-left: 10px;
}

.notification-text p{
    width: 100%;
    font-size: 14px;
    text-align: left;
    padding: 10px;
}

.message-icon{
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    position: relative;
}

.message-bg{
    display: none;
    width: 300px;
    height: 530px;
    position: absolute;
    left: -140px;
    top: 40px;
    background-color: white;
    color: #333;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 300;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}
.message-bg::before {
    content: '';
    position: absolute;
    background: white;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-radius: 50%;
}